<ion-card>
  <ion-card-content class="p-2">
    <div
      class="font-roboto-black font-15 color-default mb-2 text-truncate d-flex justify-content-between align-items-center"
    >
      <div
        class="d-flex align-items-center bg-light-gray round-5 px-2 py-1 flex-1 mr-1"
      >
        <span
          class="ion-android-calendar color-default mr-1 font-28 line-height-24"
        ></span>
        <div class="font-roboto-medium font-15 font-flex color-default">
          <span
            class="font-roboto-regular font-22 color-default"
            [textContent]="formatDate(agenda?.horarioAgenda?.horario)"
          ></span>
        </div>
      </div>
      <div
        class="d-flex flex-1 align-items-center bg-light-gray round-5 px-2 py-1 justify-content-center ml-1"
      >
        <span
          class="ion-android-time color-default mr-1 font-28 line-height-24"
        ></span>
        <div class="font-roboto-medium font-15 font-flex color-default">
          <span
            class="font-roboto-regular font-22 color-default"
            [textContent]="formatHour(agenda?.horarioAgenda?.horario)"
          ></span>
        </div>
      </div>
    </div>
    <!-- edn div -->
    <div class="mt-2">
      <div class="font-roboto-bold color-default font-15">Serviço:</div>
      <div class="d-flex align-items-center bg-light-gray round-5 p-2 flex-1">
        <div class="font-roboto-medium font-15 font-flex color-default">
          <span
            class="font-roboto-bold"
            [textContent]="agenda?.horarioAgenda?.servicoUnidade?.servico?.nome"
          >
          </span>
        </div>
      </div>
    </div>
    <!-- edn div -->

    <div class="mt-2">
      <div class="font-roboto-bold color-default font-15">Requerente:</div>
      <div
        class="font-roboto-regular color-default font-12"
        [textContent]="agenda?.pessoa?.nome"
      ></div>
    </div>
    <!-- edn div -->

    <div class="d-flex mt-2">
      <div class="col-8 px-0">
        <div class="font-roboto-bold color-default font-15">Unidade:</div>
        <div
          class="font-roboto-regular color-default font-12"
          [textContent]="
            formatUnidadeAtendimento(
              agenda?.horarioAgenda?.servicoUnidade?.unidadeAtendimento
            )
          "
        ></div>
      </div>
      <div
        class="col px-0 flex-wrap d-flex justify-content-center flex-column"
        *ngIf="isAgendado(agenda?.status)"
        (click)="openComprovante()"
      >
        <span
          class="bg-blue icon-custom color-white mx-auto font-28 d-flex align-items-center justify-content-center"
        >
          <span class="ion-ios-paper-outline"></span>
        </span>
        <span class="font-roboto-bold color-default font-10 mx-auto"
          >Comprovante</span
        >
      </div>
    </div>
    <!-- edn div -->

    <div
      class="splitter pt-2 mt-2 d-flex justify-content-between align-items-center"
    >
      <div class="d-flex align-items-center">
        <div class="font-roboto-bold color-default font-15 mr-2">Status:</div>
        <div
          class="px-2 py-1 text-center font-roboto-bold brd-radius-2"
          [class.border-green]="isAgendado(agenda?.status)"
          [class.font-20]="
            isAgendado(agenda?.status) ||
            isReservado(agenda?.status) ||
            isAConfirmar(agenda?.status)
          "
          [class.border-red]="isCancelado(agenda?.status)"
          [class.font-18]="isCancelado(agenda?.status)"
          [textContent]="parseStatus(agenda?.status)"
          [class.border-blue]="
            isReservado(agenda?.status) ||
            isAConfirmar(agenda?.status) ||
            isNaoConfirmado(agenda?.status)
          "
        ></div>
      </div>
      <div
        class="d-flex flex-1 justify-content-end"
        *ngIf="
          isAgendado(agenda?.status) &&
          checkedDateExpire(agenda?.horarioAgenda?.horario)
        "
      >
        <img
          class="img-action"
          (click)="editar()"
          src="assets/images/edit@2x.png"
        />
        <img
          (click)="deleteAgendamento()"
          class="img-action ml-2"
          src="assets/images/delete@2x.png"
        />
      </div>
    </div>
    <div
      class="splitter pt-2 mt-2 align-items-center"
      *ngIf="isReservado(agenda?.status) || isAConfirmar(agenda?.status)"
    >
      <div
        class="font-roboto-bold color-default font-15"
        *ngIf="isReservado(agenda?.status)"
      >
        Seu agendamento não foi confirmardo, o que deseja fazer?
      </div>
      <div
        class="font-roboto-bold color-default font-15"
        *ngIf="isAConfirmar(agenda?.status)"
      >
        Seu agendamento foi modificado, favor confirmar o novo horário.
      </div>
      <div class="d-flex align-items-center">
        <a
          href="javascript:;"
          (click)="naoConfirmar()"
          class="mr-1 text-uppercase disable-hover button button-md button-default button-default-md button-block button-block-md button-md-primary"
        >
          <span class="button-inner font-13">Não Confirmar</span>
        </a>
        <a
          href="javascript:;"
          (click)="confirmar()"
          class="mr-1 text-uppercase disable-hover button button-md button-default button-default-md button-block button-block-md button-md-primary"
        >
          <span class="button-inner font-13">Confirmar</span>
        </a>
      </div>
    </div>
    <!-- end splitter -->
  </ion-card-content>
  <!-- end ion-card-content -->
</ion-card>
<!-- ion-card -->
