agendamento-card {
  .border-green {
    border: 1px solid #0dcc7b;
    color: #0dcc7b;
  }
  .border-red {
    border: 1px solid #f51000;
    color: #f51000;
  }
  .border-blue {
    border: 1px solid #1369ef;
    color: #1369ef;
  }
}
