@import "_var.scss";

/*
* flex sizes
*/
$columns: 12;
@mixin flex-x {
  @for $i from 1 through $columns {
    .flex-#{$i} {
      flex: #{$i};
    }
  }
}
@include flex-x;

/*
* font-family
*/
.font-roboto-regular {
  font-family: $font-roboto-regular;
}
.font-roboto-medium {
  font-family: $font-roboto-medium;
}
.font-roboto-light {
  font-family: $font-roboto-light;
}
.font-roboto-black {
  font-family: $font-roboto-black;
}
.font-roboto-bold {
  font-family: $font-roboto-bold;
}
/*
* font-size
*/
.font-9 {
  font-size: $font-9;
}
.font-10 {
  font-size: $font-10;
}
.font-11 {
  font-size: $font-11;
}
.font-12 {
  font-size: $font-12;
}
.font-13 {
  font-size: $font-13;
}
.font-14 {
  font-size: $font-14;
}
.font-15 {
  font-size: $font-15;
}
.font-16 {
  font-size: $font-16;
}
.font-18 {
  font-size: $font-18;
}
.font-20 {
  font-size: $font-20;
}
.font-22 {
  font-size: $font-22;
}
.font-24 {
  font-size: $font-24;
}
.font-28 {
  font-size: $font-28;
}
.font-32 {
  font-size: $font-32;
}
.font-34 {
  font-size: $font-34;
}
.font-36 {
  font-size: $font-36;
}
.font-38 {
  font-size: $font-38;
}
.font-40 {
  font-size: $font-40;
}
.font-42 {
  font-size: $font-42;
}
.font-44 {
  font-size: $font-44;
}
.font-46 {
  font-size: $font-46;
}
.font-48 {
  font-size: $font-48;
}

/*
* color
*/
.color-blue {
  color: $color-blue;
}
.color-default {
  color: $color-default;
}
.color-light-gray {
  color: $color-light-gray;
}
.color-yellow {
  color: $color-yellow;
}
.color-white {
  color: $color-white;
}
.color-light-gray-3 {
  color: $color-light-gray-3;
}
.color-light-gray-5 {
  color: $color-light-gray-5;
}
.color-dark-gray {
  color: $color-dark-gray;
}
.color-light-red {
  color: $color-light-red;
}
.color-limon-green {
  color: $color-limon-green;
}
.color-dark-green {
  color: $color-dark-green;
}
.round {
  border-radius: $round;
}
.round-5 {
  border-radius: $round-5;
}
.round-none {
  border-radius: 0 !important;
}

.brd-blue {
  border-color: $color-blue;
}
.brd-light-red {
  border-color: $color-light-red;
}
.brd-b-blue-2 {
  border-bottom: 1px solid $color-light-blue-2;
}
.brd-b-gray {
  border-bottom: solid 1px rgba(0, 0, 0, 0.16);
}
.brd-orange-2 {
  border-color: $color-orange-2;
}
.bg-white {
  background-color: $color-white;
}
.bg-yellow {
  background-color: $color-yellow !important;
}
.bg-limon-green {
  background-color: $color-limon-green;
}
.brd {
  border-style: solid;
  border-width: 1px;
}

.border-bottom-pe {
  .scroll-content {
    background: url("../assets/images/line-footer-app.png") no-repeat center
      bottom;
    background-size: contain;
  }
}
.bg-multiple-2 {
  .scroll-content {
    background-image: linear-gradient(to right, #3a9eea 0%, #1d78d4 100%),
      linear-gradient(to right, #ffb103 0%, #ffb414 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 34px, 100% 38px;
    background-position: top left, top left;
  }
}
.bg-multiple-3 {
  .scroll-content {
    background-image: linear-gradient(to right, #3a9eea 0%, #1d78d4 100%),
      url("../assets/images/line-footer-app.png"),
      linear-gradient(to right, #ffb103 0%, #ffb414 100%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 34px, 100% 5px, 100% 38px;
    background-position: top left, center bottom, top left;
  }
}
.bg-multiple-default {
  background-image: linear-gradient(to right, #3a9eea 0%, #1d78d4 100%),
    linear-gradient(to right, #ffb103 0%, #ffb414 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 34px, 100% 38px;
  background-position: top left, top left;
}

.bg-multiple-simple {
  background-image: linear-gradient(to right, #ffb103 0%, #ffb414 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 2px;
  background-position: top left, top left;
}

.bg-footer {
    .scroll-content {
        background-image: url(../assets/images/line-footer-app.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 100% 5px;
        background-position: center bottom;
    }
}

.bg-light-blue {
  background-color: $color-light-blue;
}
.bg-light-blue-2 {
  background-color: $color-light-blue-2;
}
.bg-light-gray {
  background-color: $color-light-gray;
}
.bg-white {
  background-color: $color-white;
}

.bg-blue {
  background-color: $color-blue;
}

.bg-dark-blue {
  background: unset !important;
  background-color: #2a7ade !important;
}

.shadow-default {
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.1);
}

.icon {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-height-default {
  line-height: 1.12rem;
}

.line-height-16 {
  line-height: 1rem !important;
}

.line-height-6 {
  line-height: 6px;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

ion-navbar {
  position: relative;
}

.toolbar-content {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 0px 35px;
  z-index: 1;

  .title {
    justify-content: center;
  }
}

.back-button {
  position: relative;
  z-index: 2;
  &.show-back-button {
    margin: 0 6px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    font-size: 1.4rem;
    padding: 0 4px;
  }
}
.btn-clear {
  &,
  &:focus {
    background: none;
    border: none;
  }
}
.btn-round-circle {
  min-height: 42px;
  min-width: 42px;
  display: flex;
  span {
    display: flex;
    height: 42px;
    width: 42px;
    justify-content: center;
    align-items: center;
    &:before {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.text-uppercase::placeholder {
  text-transform: uppercase;
}
.ion-flex {
  display: flex;
  &::before {
    align-self: center;
  }
}
.cursor-pointer {
  cursor: pointer;
}

.select-action-sheet {
  .action-sheet-container {
    .action-sheet-group {
      .action-sheet-button {
        font-weight: normal;
        .button-inner {
          font-size: 1rem;
        }
        &.action-sheet-selected {
          font-weight: bold;
        }
      }
    }
  }
}
.collapse-title {
  font-size: $font-13;
  font-family: $font-roboto-bold;
  color: white;
}
.collapse-group {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  .collapse-ico {
    color: $color-blue;
  }
}
.collapse-active {
  background-color: $color-yellow !important;
  .collapse-title {
    color: $color-default;
  }
  .collapse-group {
    background-color: $color-blue;
    .ion-chevron-down {
      &:before {
        content: "\f126";
      }
    }
  }
  .collapse-ico {
    color: white;
    padding-top: 0 !important;
  }
}

/*custom calendar*/
.my-calendar {
  padding: 0;
  .toolbar-content {
    position: initial;
    padding: 0;
    width: auto;
    z-index: initial;
  }
  .week-title {
    li {
      font-size: $font-10;
      font-family: $font-roboto-bold;
      color: #666;
    }
  }
  button {
    &.days-btn {
      border-width: 3px;
      border-style: solid;
      border-color: #0d7b4c;
      background-color: #0dcc7b;
      &:disabled {
        border-color: #bc2727;
        background-color: #de8989;
        opacity: 1;
        p {
          color: $color-white;
        }
        &.last-month-day {
          p {
            color: rgba(255, 255, 255, 0.25);
          }
        }
        &.today {
          opacity: 0.5;
        }
      }
      p {
        font-size: $font-16;
        color: $color-white;
        font-family: $font-roboto-bold;
      }
    }
    &.last-month-day,
    &.next-month-day {
      p {
        color: $color-white !important;
      }
    }
    &.today {
      opacity: 0.5;
      p {
        color: $color-white !important;
      }
    }
    &.on-selected,
    &.on-selected.today {
      font-size: $font-16;
      border-color: $color-blue;
      background-color: $color-blue;
      opacity: 1;
    }
  }
  .days-box {
    padding: 0;
  }
  .title {
    padding: 0 42px;
    .button {
      background: none;
      height: 36px;
      &:disabled {
        .button-inner {
          background-color: #dedede;
          border-color: #d3d3d3;
          color: #a2a2a2;
        }
      }
    }
    .switch-btn {
      text-transform: capitalize;
      color: #666;
      font-family: $font-roboto-bold;
      .button-inner {
        background: none !important;
        border: none;
        color: $color-default;
      }
    }
    .back {
      left: -36px;
      width: 36px;
      opacity: 1;
    }
    .forward {
      margin-left: -36px;
      right: -36px;
      width: 36px;
    }
    .button-inner {
      border-width: 3px;
      border-style: solid;
      border-radius: 5rem;
      background-color: $color-blue;
      border-color: $color-blue;
      color: $color-white;
    }
  }
}
.select-alert {
  .alert-wrapper {
    .alert-radio-label {
      font-size: $font-16;
      font-weight: normal;
      padding: 5px 15px 5px 16px;
      white-space: initial;
    }
  }
}
